@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {

  /* Fade In Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-in-out;
  }

  /* Slide Up Animation */
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideUp {
    animation: slideUp 0.3s ease-out;
  }

  /* Slide In Right Animation (for Toast) */
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slideInRight {
    animation: slideInRight 0.3s ease-out;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(250%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* text editor css */

/* ContentEditable Placeholder */
[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af; /* gray-400 */
  pointer-events: none;
}

/* Focused */
[contenteditable="true"]:focus:empty:before {
  color: #d1d5db; /* gray-300 */
}

/* Disabled */
[contenteditable="true"][disabled]:empty:before,
[contenteditable="true"].cursor-not-allowed:empty:before {
  color: #9ca3af;
}

